name: tests

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    workflow_call: {}

jobs:
    test:   
        runs-on: ubuntu-latest
        if: "!contains(github.event.head_commit.message, '[skip tests]')"
        steps:
            - uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.14'

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                python -m pip install tox tox-gh-actions
                
            - name: Tests with tox
              run: tox